<a name="numpy"></a>
## 2. NumPy

### 2.1. O que é o NumPy?

**NumPy** é a abreviação de *Numerical Python* ou *Numeric Python*. Ela é uma biblioteca *open-source* (ou seja, é um software cujo código original é disponibilizado livremente e pode ser distribuído e modificado) que oferece suporte a arrays e matrizes multidimensionais, provendo diversas funções matemáticas úteis em computação científica.

Mas por que você deveria utilizar o NumPy? É simples! As listas do Python funcionam como as arrays, no entanto, são lentas para utilização com grandes volumes de dados. No ramo de Ciência de Dados, velocidade e recursos durante o processamento são bem importantes! Dessa forma, o NumPy nos possibilita utilizar os objetos arrays, que são bem mais rápidos que as listas tradicionais do Python.

O **ndarray** é o objeto fundamental do NumPy. Este objeto é uma matriz N-dimensional, vamos entender melhor como este objeto funciona nas células abaixo.

#### 2.1.1. Importando o NumPy

Na aula anterior você já aprendeu a importar o NumPy, vamos importá-lo com o alias ```np```.

In [7]:
import numpy as np

Vamos agora observar o porquê o NumPy é tão poderoso e preferível às listas do Python.

Imagine que você tenha duas listas de dados de indivíduos, com alturas e pesos, e queira calcular o IMC [(Índice de Massa Corporal)](https://pt.wikipedia.org/wiki/Índice_de_massa_corporal) de cada um deles, como mostrado abaixo:

In [8]:
altura = [1.81, 1.77, 1.69, 1.91]
peso = [89.0, 77.3, 55.9, 99.4]

# Calculando o IMC
imc = peso / altura ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

Observe que o Python nos retornou um erro porque não é possivel realizar cálculos com listas, para isso vamos utilizar os arrays do NumPy!

In [9]:
# Criando os arrays com o NumPy

np_altura = np.array(altura)
np_peso = np.array(peso)

# Calculando o IMC
imc = np_peso / np_altura ** 2
imc

array([27.16644791, 24.67362508, 19.57214383, 27.24706011])

O Numpy consegue realizar perfeitamente as operações elemento a elemento!

Mas fique atento! O NumPy só consegue fazer isto pois ele assume que cada array possui elementos de um único tipo de dado. Se você tentar criar um array com tipos de dados diferentes, o NumPy irá converter todos os elementos para um único tipo. Observe abaixo:

In [10]:
np.array([1.0, 4, True, "NumPy"])

array(['1.0', '4', 'True', 'NumPy'], dtype='<U32')


Além disso, algumas operações podem funcionar de forma diferente do que você imagina. Veja o exemplo abaixo:

In [11]:
# Lista do Python
altura * 2

[1.81, 1.77, 1.69, 1.91, 1.81, 1.77, 1.69, 1.91]

In [12]:
# NumPy array
np_altura * 2

array([3.62, 3.54, 3.38, 3.82])

#### 2.1.2. Selecionando subconjuntos de NumPy Arrays
A seleção de subconjuntos de NumPy arrays funciona de forma similar à listas de Python.

In [13]:
# retornando o terceiro elemento da array
imc[2]

19.572143832498863

Você também pode selecionar subconjuntos baseados em condições, de forma que apenas os valores que satisfazem as condições serão retornados.

In [14]:
imc[imc > 25]

array([27.16644791, 27.24706011])

Podemos combinar a seleção de um subconjunto com a utilização de uma função, observe:

In [15]:
# soma do IMC do primeiro e segundo elementos
sum(imc[0:2])

51.840072986433796

Agora vamos fazer um exercício para fixação.

#### Exercício 2.1

In [16]:
#Exercício 2.1.1
# lista de pesos de castanhas
c_peso = [0.946, 0.918, 0.906, 0.904, 0.858, 0.774, 0.652, 0.516, 0.478, 0.404, 0.396, 0.364, 0.342, 0.304, 
            0.262, 0.208, 0.134, 0.974, 0.792, 0.792, 0.628, 0.552, 0.506, 0.478, 0.462, 0.436, 0.408, 0.378, 
            0.3, 0.298, 0.268, 0.252, 0.16, 0.114, 0.092, 0.936, 0.894, 0.744, 0.706, 0.694, 0.69, 0.652, 0.518, 
            0.508, 0.502, 0.5, 0.47, 0.44, 0.39, 0.384]

# Importe o numpy como np
import numpy as np

# Crie um numpy array (np_c_peso) a partir de c_peso
np_c_peso = np.array(c_peso)

# Printe o tipo de np_c_peso
print(type(np_c_peso))

<class 'numpy.ndarray'>

In [17]:
#Exercício 2.1.2
c_kg_preco = 45.00

# Crie um numpy array (np_c_despesa) a partir de np_c_peso com a quantia gasta em cada compra
np_c_despesa = np.array(np_c_peso * c_kg_preco)
np_c_despesa

array([42.57, 41.31, 40.77, 40.68, 38.61, 34.83, 29.34, 23.22, 21.51,
       18.18, 17.82, 16.38, 15.39, 13.68, 11.79,  9.36,  6.03, 43.83,
       35.64, 35.64, 28.26, 24.84, 22.77, 21.51, 20.79, 19.62, 18.36,
       17.01, 13.5 , 13.41, 12.06, 11.34,  7.2 ,  5.13,  4.14, 42.12,
       40.23, 33.48, 31.77, 31.23, 31.05, 29.34, 23.31, 22.86, 22.59,
       22.5 , 21.15, 19.8 , 17.55, 17.28])

In [18]:
#Exercício 2.1.3
# Crie a variável compras_acima_30 que corresponde ao valor total gasto nas compras que custaram mais de R$ 30.Printe o resultado
compras_acima_30 =  np_c_despesa[np_c_despesa > 30].sum()
compras_acima_30

563.76

In [19]:
# Exercício 2.1.4
# Printe o peso no indíce 20 (vigésima primeira compra)
np_c_peso[21] # era 20 # 19 #0.792, 0.628, 0.552  linha 1 coluna 6

0.552

#### 2.1.3.  Array N-dimensional
Vamos verificar o tipo dos arrays criados acima!

In [20]:
print(type(np_c_peso))

<class 'numpy.ndarray'>

**ndarrays** significam arrays N-dimensionais, vamos criar um NumPy array multi-dimensional a partir de listas tradicionais do Python.

In [21]:
np_2d = np.array([[1.81, 1.77, 1.69, 1.91],
                  [89.0, 77.3, 55.9, 99.4]])
np_2d

array([[ 1.81,  1.77,  1.69,  1.91],
       [89.  , 77.3 , 55.9 , 99.4 ]])

Cada sublista da lista corresponde à uma linha da array bi-dimensional criada.
Nós podemos verificar o tamanho do array usando o atributo ```shape```.

In [22]:
np_2d.shape

(2, 4)

Podemos ver que o np_2d tem 2 linhas e 4 colunas.

#### 2.1.4. Selecionando subconjuntos de array bidimensional

Assim como o array unidimensional, também podemos selecionar um subconjunto de um array bidimensional, usando o índice da linha e coluna como exemplifica a imagem abaixo.
![Subsetting](https://imgur.com/08EIOjy.png)
Veja alguns exemplos de como isso é feito.

In [23]:
# Selecionando a primeira linha
np_2d[0]

array([1.81, 1.77, 1.69, 1.91])

In [24]:
# Selecionando a altura (primeira linha) do terceiro elemento
np_2d[0][2]

1.69

Basicamente nós selecionamos a linha, e a partir daquela linha fazemos outra seleção.

Também é possível selecionar utilizando vírgulas dentro de colchetes: ```array[linha, coluna]```

In [25]:
# Primeira linha e terceira colna
np_2d[0, 2]

1.69

In [26]:
# Todas as linhas e segunda e terceira coluna
np_2d[:, 1:3]

array([[ 1.77,  1.69],
       [77.3 , 55.9 ]])

#### Exercício 2.2

Abaixo temos uma lista de listas contendo informações de vendas de castanhas de uma loja. Cada lista representa uma venda que foi realizada. O primeiro elemento de cada lista é o dia que  venda foi feita, o segundo elemento representa o peso das castanhas compradas. Por fim, o terceiro elemento é a quantia paga pelas castanhas.

Com isso em mente, faça os seguintes exercícios:

In [27]:
# Exercício 2.2.1
castanha = [[2, 0.946, 66.1], 
          [2, 0.918, 32.96], 
          [2, 0.906, 58.76],
          [2, 0.904, 29.14], 
          [2, 0.858, 59.96],
          [2, 0.774, 27.77],
          [2, 0.652, 42.3], #42.3  linha 7  coluna 3
          [2, 0.516, 18.51], 
          [2, 0.478, 17.15],
          [2, 0.404, 28.22], 
          [2, 0.396, 7.88], 
          [2, 0.364, 7.24],
          [2, 0.342, 22.18], 
          [2, 0.304, 10.91], 
          [2, 0.262, 9.41], 
          [2, 0.208, 4.13],
          [2, 0.134, 9.36],
          [4, 0.974, 34.95],
          [4, 0.792, 51.38],
          [4, 0.792, 51.38], 
          [4, 0.628, 12.48], 
          [4, 0.552, 19.81], 
          [4, 0.506, 25], 
          [4, 0.478, 31], 
          [4, 0.462, 32.24],
          [4, 0.436, 28.28],
          [4, 0.408, 14.64],
          [4, 0.378, 13.56],
          [4, 0.3, 19.46],
          [4, 0.298, 10.69],
          [4, 0.268, 9.62],
          [4, 0.252, 16.34],
          [4, 0.16, 3.18],
          [4, 0.114, 4.09],
          [4, 0.092, 5.97],
          [5, 0.936, 65.33],
          [5, 0.894, 32.07],
          [5, 0.744, 48.28], 
          [5, 0.706, 25.34],
          [5, 0.694, 24.91], 
          [5, 0.69, 13.72], 
          [5, 0.652, 42.32], 
          [5, 0.518, 33.6], 
          [5, 0.508, 18.23],
          [5, 0.502, 35.09],
          [5, 0.5, 27.45], 
          [5, 0.47, 9.35], 
          [5, 0.44, 28.54],
          [5, 0.39, 7.76], 
          [5, 0.384, 21.08]]

# Crie um numpy array 2d (np_castanha) a partir de castanha
np_castanha = np.array(castanha)

# Printe o tipo de np_castanha
print(type(np_castanha))

# Printe as dimensões (número de linhas e colunas)
np_castanha.shape

<class 'numpy.ndarray'>

(50, 3)

In [28]:
# Exercício 2.2.2
# Crie um numpy array (np_peso) que corresponde à toda segunda coluna de np_castanha
np_peso = np_castanha[ :,1]    
np_peso

array([0.946, 0.918, 0.906, 0.904, 0.858, 0.774, 0.652, 0.516, 0.478,
       0.404, 0.396, 0.364, 0.342, 0.304, 0.262, 0.208, 0.134, 0.974,
       0.792, 0.792, 0.628, 0.552, 0.506, 0.478, 0.462, 0.436, 0.408,
       0.378, 0.3  , 0.298, 0.268, 0.252, 0.16 , 0.114, 0.092, 0.936,
       0.894, 0.744, 0.706, 0.694, 0.69 , 0.652, 0.518, 0.508, 0.502,
       0.5  , 0.47 , 0.44 , 0.39 , 0.384])

In [29]:
# Exercício 2.2.3
# Printe o preço da 14ª (décima quarta) venda
print(np_castanha[6][2])
# Printe todas as vendas feitas após o dia 2
print(np_castanha[17:,:])

42.3
[[ 4.     0.974 34.95 ]
 [ 4.     0.792 51.38 ]
 [ 4.     0.792 51.38 ]
 [ 4.     0.628 12.48 ]
 [ 4.     0.552 19.81 ]
 [ 4.     0.506 25.   ]
 [ 4.     0.478 31.   ]
 [ 4.     0.462 32.24 ]
 [ 4.     0.436 28.28 ]
 [ 4.     0.408 14.64 ]
 [ 4.     0.378 13.56 ]
 [ 4.     0.3   19.46 ]
 [ 4.     0.298 10.69 ]
 [ 4.     0.268  9.62 ]
 [ 4.     0.252 16.34 ]
 [ 4.     0.16   3.18 ]
 [ 4.     0.114  4.09 ]
 [ 4.     0.092  5.97 ]
 [ 5.     0.936 65.33 ]
 [ 5.     0.894 32.07 ]
 [ 5.     0.744 48.28 ]
 [ 5.     0.706 25.34 ]
 [ 5.     0.694 24.91 ]
 [ 5.     0.69  13.72 ]
 [ 5.     0.652 42.32 ]
 [ 5.     0.518 33.6  ]
 [ 5.     0.508 18.23 ]
 [ 5.     0.502 35.09 ]
 [ 5.     0.5   27.45 ]
 [ 5.     0.47   9.35 ]
 [ 5.     0.44  28.54 ]
 [ 5.     0.39   7.76 ]
 [ 5.     0.384 21.08 ]]

#### 2.1.5. Estatística básica com NumPy
Costumeiramente o primeiro passo para analisar nossos dados é conhecê-los através de estatística descritiva. O NumPy pode ser usado para obter essa visão inicial dos dados mesmo com grande quantidade de observações. Nos próximos módulos teremos uma aula dedicada à estatística básica, então não se preocupe se você não entender algum dos conceitos utilizados abaixo.

Vamos então usar alguns atributos do NumPy para começar a analisar nossos dados.

In [30]:
np_a_p = np.array([[1.81, 89.0],
                  [1.77, 77.3],
                  [1.69, 55.9],
                  [1.91, 99.4]])

# Calculando a média dos pesos
np.mean(np_a_p[:, 1])

80.4

In [31]:
# calculando a mediana dos pesos
np.median(np_a_p[:, 1])

83.15

In [32]:
# calculando os coeficientes de correlação entre pesos e alturas
np.corrcoef(np_a_p[:, 0], np_a_p[:, 1])

array([[1.        , 0.96933562],
       [0.96933562, 1.        ]])

In [33]:
# calculando o desvio padrão dos pesos
np.std(np_a_p[:, 1])

16.16183776678878

In [34]:
# calculando a soma dos pesos
np.sum(np_a_p[:, 1])

321.6

Alguns desses atributos já estão disponíveis no Python, no entanto, a principal diferença entre eles é a performance. Os atributos do NumPy são mais rápidos na execução do que os básicos do Python.

Lembrando que sempre que tiver dificuldade para entender algum atributo, você pode consultar a documentação do [NumPy](https://numpy.org/doc/).

Agora que aprendemos como o NumPy funciona, vamos aprender sobre uma das bibliotecas mais utilizadas para manipulação de dados em Python, o **Pandas**!

<a name="pandas"></a>
## 3. Pandas

### 3.1. O que é o Pandas?

Pandas é uma biblioteca *open source*, que proporciona estruturas de dados e ferramentas de análise de dados de alta performance e fáceis de usar para Python. Vamos entender melhor o que alguns termos significam:
 - *open source*: assim como o NumPy, seu código original é disponibilizado livremente e pode ser distribuido e modificado. Isso significa que qualquer um pode contribuir para a evolução do Pandas!
 - alta performance: Pandas é escrito em Python, Cython e C. Isso permite que os cientistas de dados consigam utilizá-lo para lidar com conjuntos de dados muito grandes (daqueles que o Excel não conseguiria nem abrir) e fazer operações sobre esses dados com facilidade. Dessa forma, Pandas torna nosso trabalho melhor e mais fácil provendo ótima performânce.
 - estruturas de dados e análises de dados: o motivo pelo qual Pandas existe. Muitas vezes precisamos obter insights de dados crus como documentos de textos, tabelas e etc. Pandas é capaz de lidar com esses tipos de dados para que possamos analisá-los.

Em resumo, **Pandas fornece estrutura de dados especializadas e ferramentas para manipulação de dados**. Sua ótima performance, facilidade de uso e comunidade dedicada são as principais razões de sua vasta adoção entre cientistas de dados. 

Agora vamos começar a utilizá-lo! Se você está utilizando o Anaconda ou o Google Colab, já deve ter ele instalado. Senão, é possível achar os passos de instalação [neste link](https://pandas.pydata.org/). <br>

### 3.2. Básico de Pandas

Vamos relembrar as etapas da construção de um modelo de dados para entender a importância do Pandas:

1. Entendimento do problema / Definição do escopo
2. Definição do objetivo e métricas de avaliação
3. Determinação dos dados necessários
4. Aquisição dos dados
5. Tratamento e manipulação dos dados
6. Análise Exploratória dos Dados (E.D.A.)
7. Engenharia de Variáveis
8. Construção e avaliação do modelo
9. Interpretação dos resultados e apresentação dos dados
10. Deploy
11. Monitoramento e manutenção

Então, mas em quais etapas o Pandas é mais utilizado? Nas etapas 4 a 7 e 9! Ou seja, das 11 etapas, o Pandas pode nos ajudar em 5 delas! Isso mostra o quão poderosa essa biblioteca é, e porque utilizamos ela diariamente.

#### 3.2.1. Como importá-lo?

O Pandas é geralmente importado sempre da mesma forma, como mostramos abaixo. Aproveitamos também para importar o NumPy, biblioteca que já apresentamos anteriormente.

In [35]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\jojos\appdata\local\programs\python\python39\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jojos\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jojos\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\jojos\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\jojos\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

#### 3.2.2. Objetos do Pandas

Existem 2 principais tipos de objetos no Pandas: as [*Series*](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series) e os *DataFrames*. As *Series* são sequências de uma dimensão  de elementos (para ser mais específico *ndarray*), todos do mesmo tipo de dados, com rótulos/índices (*labels*). São o objeto primário do Pandas, tudo vai funcionar baseado nelas. Pra criar um objeto do tipo *Series*, podemos fazer o seguinte:

In [36]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Podemos ver acima que cada elemento da *Series* tem um rótulo relacionado. Esses rótulos podem ser tanto numéricos quanto de texto! Ao final do objeto temos a informação sobre o tipo de dados da *Series*: nesse caso, números *float64*. <br>
O outro objeto principal do Pandas é o [*DataFrame*](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame), que é basicamente uma coleção de *Series* com rótulos em comum. O *DataFrame* é bem parecido com uma tabela de Excel, com seus índices e colunas. Tanto suas linhas quanto suas colunas tem rótulos, nos permitindo acessar qualquer célula pela sua coordenada. Há diversas formas de criar um *DataFrame*, vamos começar com o mais simples:

In [37]:
dates = pd.date_range('20210101', periods=6) #estamos criando uma lista de datas entre 01/01/2021 e 06/01/2021. Note que estamos usando uma função do Pandas
df = pd.DataFrame(
    np.random.randn(6, 4), #apenas números aleatórios nas células
    index=dates,  #especificando quais são os índices. Eles aceitam até datas como índice! Isso é muito bom para lidar com dados de séries temporais
    columns=list('ABCD')) #especificando como quero que sejam os nomes das colunas, passando uma lista de letras
df

                   A         B         C         D
2021-01-01  0.513671  0.567810 -0.404597 -1.184560
2021-01-02  3.683785  0.447536  1.258245 -1.199218
2021-01-03 -0.072961 -1.544898  0.104815 -0.164407
2021-01-04  0.191723 -0.961089  0.885622  1.192206
2021-01-05  0.636350 -0.912451  1.131214  0.167446
2021-01-06 -1.358215  0.562612  0.229049 -0.046068

Isso é um *DataFrame*! Uma coisa boa do Pandas com o Jupyter Notebook é que eles mostram o *DataFrame* de uma forma bastante amigável. Agora que sabemos sobre as duas principais estruturas de dados do Pandas, podemos aprender sobre os principais métodos e funcionalidades dessa biblioteca, e para isso vamos utilizar dados reais sobre uma das marcas mais conhecidas dos desenhos e videogames, a franquia Pokémon :)

Observação: um *DataFrame* pode ser visto como um dicionário de listas.

#### 3.2.3. Carregando o conjunto de dados

Um dos tipos de dados mais comuns para se guardar arquivos são os CSVs (comma-separated values, em português, valores separados por vírgulas). O Pandas tem diversas funções para transformar os mais variados tipos de arquivos em *DataFrames*, como csv, Excel, json e etc. Nesse exemplo, vamos usar o [leitor de csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html). Execute a célula abaixo para carregar os dados dos Pokémons.

Caso você não conheça, [Pokémon](https://www.pokemon.com/us/) é uma franquia japonesa composta por jogos de videogame, desenhos, cartas colecionáveis, entre outros produtos. Nos jogos, principal produto da franquia, os humanos (conhecidos como treinadores Pokémon) capturam e treinam os monstrinhos (Pokémons) para realizar diversas aventuras e batalhas. Cada Pokémon pode ser de diferentes tipos (fogo, água, elétrico, pedra, etc) e apresentam diferentes níveis de habilidades (ataque, defesa, velocidade, etc). Além disso, alguns Pokémons são mais raros que outros (conhecidos como lendários).

Caso você esteja utilizando o Google Colab, não se esqueça de conectar no seu Drive e alterar o caminho para a pasta que contém seus arquivos de dados.

In [38]:
pkmn = pd.read_csv(
    'pokemon_data.csv', #o caminho para o arquivo que se quer ler
    sep=',') #o caracter utilizado para separar os valores   fut_players_data

#### 3.2.4. Visualizações iniciais
Ótimo! Acabamos de criar um *DataFrame* a partir de um arquivo csv. Mas como gostamos de verificar as coisas, seria interessante saber algumas informações como: o que os dados contêm, como são as colunas, se tem valores nulos e etc. O Pandas tem 4 métodos principais para isso:

In [39]:
pkmn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

A primeira coisa que é interessante de se fazer após ler um conjunto de dados em um *DataFrame* é utilizar o método *info()*. Ele mostra informações como:
 - a classe do objeto criado
 - o intervalo do índice e quantas linhas de dados se tem
 - as colunas, seus nomes e tipos de dados
 - quais os tipos de dados presentes no *DataFrame* e quantas colunas de cada
 - a quantidade de memória utilizada pelo computador para guardar esses dados

Podemos ver que temos uma base sobre Pokémon, com 800 linhas com índices númericos de 0 a 799, 13 colunas de três tipos de dados diferentes, usando cerca de ~76kB de memória RAM. As informações presentes sobre os Pokémons são o número, o nome, o tipo (alguns tem subtipo, mas não todos, por isso os dados faltantes na coluna *Type 2*), estatísticas de ataque, defesa e velocidade, a geração (novos Pokémons são apresentados a cada alguns anos, e cada grupo é conhecido por uma geração) e a indicação se ele é lendário (como uma espécie mística). <br> Todas essas informações a gente conseguiu descobrir com apenas uma linha de código! Vamos então ver como o *DataFrame* realmente é. Temos dois métodos para isso:

In [40]:
pkmn.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [41]:
pkmn.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Os métodos *.head()* e *.tail()* mostram, respectivamente, as primeiras e últimas *n* linhas do *DataFrame* (por padrão, *n*=5, mas você pode passar qualquer número como parâmetro) mostrando os índices e os nomes das colunas como numa tabela.

In [42]:
pkmn.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Por fim, o método *.describe()* na sua forma padrão mostra um resumo estatístico de todas as colunas numéricas. É um método bom para ter uma ideia inicial sobre o que ocorre nas colunas de uma perspectiva estatística.

#### Exercício 3.1
Use o arquivo de jogadores do FIFA Ultimate Team para os exercícios de Pandas. Caso você não conheça, o Ultimate Team (FUT) é um modo de jogo do FIFA (um jogo de simulador de futebol) onde você monta seu próprio time comprando jogadores do jogo. Cada jogador pode apresentar diferentes níveis de habilidade em algumas características, como "drible", "chute", "passe", entre outras.  <br>
Substitua os \____ abaixo para ler o arquivo e siga as instruções para ter as visualizações iniciais.

In [43]:
# Exercício 3.1.1
# leia o arquivo (tente abrir num editor de texto antes para verificar o separador)
fut_players = pd.read_csv(
    'fut_players_data.csv', #o caminho para o arquivo que se quer ler
    sep=',') #o caracter utilizado para separar os valores   fut_players_data

# mostre as primeiras 10 linhas de dados
fut_players.head(10)

,player_id,player_name,player_extended_name,quality,revision,origin,overall,club,league,nationality,...,cam,cf,rf,lf,rw,lw,st,traits,specialities,base_id
0,1,Pelé,Arantes Nascimento Edson,Gold - Rare,Icon,Prime,98,Icons,Icons,Brazil,...,96.0,96.0,96.0,96.0,96.0,96.0,95.0,Finesse Shot,"Speedster, Aerial Threat, Dribbler, Play Maker...",237067
1,2,Maradona,Diego Maradona,Gold - Rare,Icon,Prime,97,Icons,Icons,Argentina,...,95.0,94.0,94.0,94.0,94.0,94.0,90.0,"Avoids Using Weaker Foot, Finesse Shot, Flair,...","Speedster, Dribbler, Play Maker, Distance Shoo...",190042
2,3,Ronaldo,Nazário de Lima Ronaldo Luís,Gold - Rare,Icon,Prime,96,Icons,Icons,Brazil,...,91.0,94.0,94.0,94.0,92.0,92.0,94.0,"Tries To Beat Defensive Line, Finesse Shot","Speedster, Dribbler, Distance Shooter, FK Spec...",37576
3,4,Pelé,Arantes Nascimento Edson,Gold - Rare,Icon,Medium,95,Icons,Icons,Brazil,...,93.0,94.0,94.0,94.0,94.0,94.0,92.0,Finesse Shot,"Speedster, Dribbler, Distance Shooter, Crosser...",237068
4,5,Maradona,Diego Maradona,Gold - Rare,Icon,Medium,95,Icons,Icons,Argentina,...,93.0,92.0,92.0,92.0,92.0,92.0,88.0,"Avoids Using Weaker Foot, Finesse Shot, Flair,...","Dribbler, Play Maker, Distance Shooter, Crosse...",237074
5,6,Maldini,Paolo Maldini,Gold - Rare,Icon,Prime,94,Icons,Icons,Italy,...,70.0,68.0,68.0,68.0,69.0,69.0,70.0,Team Player,"Aerial Threat, Tackler, Tactician, Complete De...",238439
6,7,Ronaldo,Nazário de Lima Ronaldo Luís,Gold - Rare,Icon,Medium,94,Icons,Icons,Brazil,...,90.0,92.0,92.0,92.0,91.0,91.0,92.0,Finesse Shot,"Speedster, Dribbler, Distance Shooter, FK Spec...",237064
7,8,Yashin,Lev Yashin,Gold - Rare,Icon,Prime,94,Icons,Icons,Russia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Puncher, Team Player",NaN,238380
8,9,Ronaldinho,de Assis Moreira Ronaldo,Gold - Rare,Icon,Prime,94,Icons,Icons,Brazil,...,93.0,92.0,92.0,92.0,93.0,93.0,88.0,"Finesse Shot, Flair","Speedster, Dribbler, Distance Shooter, Crosser...",28130
9,10,Van Basten,Marco van Basten,Gold - Rare,Icon,Prime,93,Icons,Icons,Holland,...,86.0,90.0,90.0,90.0,87.0,87.0,92.0,"Finesse Shot, Team Player","Aerial Threat, Distance Shooter, Acrobat, Clin...",192181

In [44]:
# Exercício 3.1.2
# mostre as últimas 10 linhas de dados
fut_players.tail(10)

,player_id,player_name,player_extended_name,quality,revision,origin,overall,club,league,nationality,...,cam,cf,rf,lf,rw,lw,st,traits,specialities,base_id
18821,19298,Angol,Lee Angol,Bronze - Rare,Normal,Transfers,63,Lincoln City,EFL League Two,England,...,60.0,61.0,61.0,61.0,61.0,61.0,62.0,"Finesse Shot, Flair",NaN,210244
18822,19299,Mendoza Hansen,Kevin Ray Mendoza Hansen,Bronze,Normal,NaN,55,AC Horsens,Superliga,Philippines,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215656
18823,19300,Piossek,Marcus Piossek,Silver,Normal,Transfers,66,SV Meppen,3. Liga,Poland,...,65.0,65.0,65.0,65.0,65.0,65.0,64.0,NaN,NaN,197148
18824,19301,Bingham,Rakish Bingham,Bronze,Normal,Transfers,62,Cheltenham Town,EFL League Two,England,...,58.0,60.0,60.0,60.0,60.0,60.0,61.0,NaN,NaN,209462
18825,19302,Gibson,Jordan Gibson,Bronze,Normal,Transfers,51,Stevenage,EFL League Two,England,...,48.0,50.0,50.0,50.0,51.0,51.0,50.0,NaN,NaN,240813
18826,19303,Shala,Herolind Shala,Silver,Normal,NaN,65,IK Start,Eliteserien,Norway,...,67.0,66.0,66.0,66.0,67.0,67.0,63.0,Speed Dribbler (CPU AI Only),NaN,205423
18827,19304,Boyer,Fabien Boyer,Silver,Normal,NaN,65,Grenoble Foot 38,Domino’s Ligue 2,Madagascar,...,46.0,46.0,46.0,46.0,48.0,48.0,48.0,Injury Prone,NaN,208832
18828,19305,Arias,Jafar Arias,Silver,Normal,NaN,65,FC Emmen,Eredivisie,Curaçao,...,57.0,60.0,60.0,60.0,57.0,57.0,64.0,NaN,NaN,226122
18829,19306,Moses Ekpai,Ubong Moses Ekpai,Bronze,Normal,NaN,62,Viktoria Plzeň,Česká Liga,Nigeria,...,60.0,63.0,63.0,63.0,62.0,62.0,62.0,NaN,NaN,244790
18830,19307,Diallo,Amadou Tidiane Diallo,Bronze,Normal,NaN,60,Red Star FC,Domino’s Ligue 2,Guinea,...,58.0,58.0,58.0,58.0,59.0,59.0,57.0,NaN,NaN,233902

In [45]:
# Exercício 3.1.3
# use o método .info() no DataFrame
fut_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18831 entries, 0 to 18830
Data columns (total 82 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   player_id             18831 non-null  int64
 1   player_name           18831 non-null  object
 2   player_extended_name  18831 non-null  object
 3   quality               18831 non-null  object
 4   revision              18826 non-null  object
 5   origin                2478 non-null   object
 6   overall               18831 non-null  int64
 7   club                  18831 non-null  object
 8   league                18831 non-null  object
 9   nationality           18831 non-null  object
 10  position              18831 non-null  object
 11  age                   18831 non-null  int64
 12  date_of_birth         18831 non-null  object
 13  height                18831 non-null  int64
 14  weight                18831 non-null  int64
 15  intl_rep              18831 non-null  int64
 16  added_date            18831 non-null  object
 17  pace                  16882 non-null  float64
 18  pace_acceleration     18831 non-null  int64
 19  pace_sprint_speed     18831 non-null  int64
 20  dribbling             16882 non-null  float64
 21  drib_agility          18831 non-null  int64
 22  drib_balance          18831 non-null  int64
 23  drib_reactions        18831 non-null  int64
 24  drib_ball_control     18831 non-null  int64
 25  drib_dribbling        18831 non-null  int64
 26  drib_composure        18831 non-null  int64
 27  shooting              16882 non-null  float64
 28  shoot_positioning     18831 non-null  int64
 29  shoot_finishing       18831 non-null  int64
 30  shoot_shot_power      18831 non-null  int64
 31  shoot_long_shots      18831 non-null  int64
 32  shoot_volleys         18831 non-null  int64
 33  shoot_penalties       18831 non-null  int64
 34  passing               16882 non-null  float64
 35  pass_vision           18831 non-null  int64
 36  pass_crossing         18831 non-null  int64
 37  pass_free_kick        18831 non-null  int64
 38  pass_short            18831 non-null  int64
 39  pass_long             18831 non-null  int64
 40  pass_curve            18831 non-null  int64
 41  defending             16882 non-null  float64
 42  def_interceptions     18831 non-null  int64
 43  def_heading           18831 non-null  int64
 44  def_marking           18831 non-null  int64
 45  def_stand_tackle      18831 non-null  int64
 46  def_slid_tackle       18831 non-null  int64
 47  physicality           16882 non-null  float64
 48  phys_jumping          18831 non-null  int64
 49  phys_stamina          18831 non-null  int64
 50  phys_strength         18831 non-null  int64
 51  phys_aggression       18831 non-null  int64
 52  gk_diving             1949 non-null   float64
 53  gk_reflexes           1949 non-null   float64
 54  gk_handling           1949 non-null   float64
 55  gk_speed              1949 non-null   float64
 56  gk_kicking            1949 non-null   float64
 57  gk_positoning         1949 non-null   float64
 58  pref_foot             18831 non-null  object
 59  att_workrate          18831 non-null  object
 60  def_workrate          18831 non-null  object
 61  weak_foot             18831 non-null  int64
 62  skill_moves           18831 non-null  int64
 63  cb                    16882 non-null  float64
 64  rb                    16882 non-null  float64
 65  lb                    16882 non-null  float64
 66  rwb                   16882 non-null  float64
 67  lwb                   16882 non-null  float64
 68  cdm                   16882 non-null  float64
 69  cm                    16882 non-null  float64
 70  rm                    16882 non-null  float64
 71  lm                    16882 non-null  float64
 72  cam                   16882 non-null  float64
 73  cf                    16882 non-null  float64
 74  rf                    16882 non-null  float64
 75  lf                    16882 non-null  float64
 76  rw                    16882 non-null  float64
 77  lw                    16882 non-null  float64
 78  st                    16882 non-null  float64
 79  traits                7151 non-null   object
 80  specialities          2380 non-null   object
 81  base_id               18831 non-null  int64
dtypes: float64(28), int64(38), object(16)
memory usage: 11.8+ MB

In [46]:
# Exercício 3.1.4
# mostre o resumo estatístico das colunas numéricas
fut_players.describe()

,player_id,overall,age,height,weight,intl_rep,pace,pace_acceleration,pace_sprint_speed,dribbling,...,rm,lm,cam,cf,rf,lf,rw,lw,st,base_id
count,18831.000000,18831.000000,18831.000000,18831.000000,18831.000000,18831.000000,16882.000000,18831.000000,18831.000000,16882.000000,...,16882.000000,16882.000000,16882.000000,16882.000000,16882.000000,16882.000000,16882.000000,16882.000000,16882.000000,18831.000000
mean,9724.997663,68.200839,26.364027,181.413202,75.565929,1.172269,69.072859,65.947427,66.106580,64.323540,...,62.166746,62.166746,61.509774,61.252517,61.252517,61.252517,61.511314,61.511314,60.297832,209831.137114
std,5592.051018,8.143145,5.223632,6.778249,7.096437,0.587855,11.909037,15.120939,14.851889,10.906452,...,10.206237,10.206237,10.760257,10.901557,10.901557,10.901557,10.866396,10.866396,10.213289,31943.691550
min,1.000000,47.000000,17.000000,155.000000,50.000000,0.000000,24.000000,13.000000,12.000000,24.000000,...,28.000000,28.000000,27.000000,27.000000,27.000000,27.000000,26.000000,26.000000,31.000000,16.000000
25%,4846.500000,63.000000,23.000000,177.000000,70.000000,1.000000,62.000000,58.000000,58.000000,58.000000,...,56.000000,56.000000,55.000000,54.000000,54.000000,54.000000,55.000000,55.000000,53.000000,194928.500000
50%,9805.000000,67.000000,26.000000,182.000000,75.000000,1.000000,70.000000,68.000000,68.000000,65.000000,...,63.000000,63.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,60.000000,214860.000000
75%,14581.500000,73.000000,29.000000,186.000000,80.000000,1.000000,77.000000,76.000000,76.000000,71.000000,...,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,67.000000,232590.500000
max,19307.000000,99.000000,89.000000,205.000000,110.000000,5.000000,99.000000,99.000000,99.000000,99.000000,...,97.000000,97.000000,98.000000,98.000000,98.000000,98.000000,97.000000,97.000000,98.000000,245714.000000

### 3.3. Filtrando (*Filtering*) e fatiando (*slicing*) os dados

*Filtering* e *slicing* são técnicas utilizadas para isolar partes específicas do *DataFrame*, sejam linhas, colunas ou células. Isso é muito útil pois diversas vezes queremos analisar alguns dados ao invés da base inteira. O Pandas tem ferramentas próprias para isso. <br>

#### 3.3.1. *Slicing*

No Pandas existem duas principais formas de fatiar os dados, isto é, selecionar apenas uma parte de acordo com as linhas e colunas do *DataFrame*: utilizando o nome das partes ou com os métodos *.loc()* e *.iloc()*. Vamos começar pelo primeiro. Para fazer isso, imagine que queremos apenas os nomes e o poder de ataque dos Pokémons e veja o exemplo:

In [47]:
pkmn[['Name','Attack']].head(7)

                    Name  Attack
0              Bulbasaur      49
1                Ivysaur      62
2               Venusaur      82
3  VenusaurMega Venusaur     100
4             Charmander      52
5             Charmeleon      64
6              Charizard      84

Duas coisas importantes aqui:
 - Juntamos o *slicing* com o método *.head()* na mesma linha, para que fosse possível ver o resultado do fatiamento. Ao usar o Pandas é possível e comum fazer esse tipo de agrupamento de operações.
 - Foram utilizadas chaves duplas ```[[]]``` no fatiamento. Ao fazer isso, estou explicitando que quero um objeto do tipo *DataFrame*. Se eu quisesse objetos do tipo *Series* usaria chaves simples. Podemos ver um exemplo disso abaixo:

In [48]:
type(pkmn[['Name']])

pandas.core.frame.DataFrame

In [49]:
type(pkmn['Name'])

pandas.core.series.Series

Outra forma de se obter um objeto do tipo *Series* é passando a coluna como se fosse um atributo do *DataFrame*:

In [50]:
pkmn.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

O único problema desse formato é que colunas cujo nome contém espaços não funcionarão, como é o caso das colunas *Type 1*, *Type 2*, *Sp. Atk* e *Sp. Def*. Para resolver isso, vamos renomeá-las com o método *.rename()*.

In [51]:
pkmn.rename(
    columns={'Type 1':'Type_1', 'Type 2':'Type_2', 'Sp. Atk':'Sp_Atk','Sp. Def':'Sp_Def'}, #passando o nome antigo e novo como um dicionário
    inplace = True #algumas operações com Pandas criam uma cópia do DataFrame e não alteram o objeto em si, alteramos isso mudando o parâmetro inplace para verdadeiro
)

In [52]:
pkmn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type_1      800 non-null    object
 3   Type_2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp_Atk      800 non-null    int64
 9   Sp_Def      800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

Agora que os nomes foram trocados, podemos obter um objeto *Series* do tipo do Pokémon como a seguir:

In [53]:
pkmn.Type_1

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type_1, Length: 800, dtype: object

Outra forma de selecionar partes dos dados é usando os métodos *.loc()* e *.iloc()*.<br>
Para usar a localização númerica utilizamos o *iloc*. Como você pode imaginar, a linhas e colunas são ordenadas por números inteiros sequenciais, começando do 0, como nas listas. Dessa forma, se você sabe o número da linha e da coluna, você pode usar o *iloc*. Por exemplo, se quisermos a coluna HP, que é a 6ª, poderíamos fazer o seguinte:

In [54]:
pkmn.iloc[:,5].head()

0    45
1    60
2    80
3    80
4    39
Name: HP, dtype: int64

A sintaxe do *iloc* é como [x,y], que significa que queremos a (x+1)ª linha e (y+1)ª coluna. Se utilizarmos ```:``` no lugar de x ou y significa que queremos a coluna ou linha completa, respectivamente. Vamos pegar o HP do Bulbasaur, o primeiro Pokémon do nosso *DataFrame*:

In [55]:
print("O HP do Bulbasaur é "+str(pkmn.iloc[0,5]))

O HP do Bulbasaur é 45

O método *.loc()* usa o rótulo para acessar os valores. Dessa forma, ao invés de passarmos as coordenadas numéricas, passamos o nome da linha e da coluna, como a seguir:

In [56]:
pkmn.loc[0, :]

#                     1
Name          Bulbasaur
Type_1            Grass
Type_2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp_Atk               65
Sp_Def               65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

No caso, os rótulos das linhas são iguais às suas coordenadas, por isso ficou parecido com o *iloc*. Vamos fazer o teste com as colunas também para ver a diferença. Abaixo pegaremos novamente o HP do Bulbasaur:

In [57]:
print("O HP do Bulbasaur é "+str(pkmn.loc[0,'HP']))

O HP do Bulbasaur é 45

#### 3.3.2. Filtros (*Filtering*)

Uma vez sabendo isolar partes do *DataFrame* de acordo com a localização dos dados, podemos partir para isolar de acordo com condições, ou seja, filtrar os dados.
Para conseguir fazer isso no Pandas, fazemos o seguinte: passamos uma expressão condicional e o Pandas retorna apenas as partes que teriam a condição como verdade. Para testar isso, vamos ver a defesa média de todos os Pokémons e depois ver se os tipos 'Rock' e 'Steel' têm defesas maiores:

In [58]:
pkmn.Defense.mean() #note que operações comuns como média (mean), mediana (median) e soma (sum) são métodos do Pandas

73.8425

In [59]:
pkmn.loc[pkmn.Type_1=='Rock'].Defense.mean()

100.79545454545455

In [60]:
pkmn[pkmn.Type_1=='Steel'].Defense.mean()

126.37037037037037

De fato, parece que os tipos selecionados tem média acima dos demais Pokémons. Para verificar isso, passamos a condição pkmn.Type_1=='Steel' entre chaves, o que retorna apenas as linhas de tal tipo. Com isso, selecionamos apenas a coluna de defesa e calculamos a média. <br>
Vamos ver agora os Pokémons com defesa maior que 150, cujo tipo principal não é 'Rock' nem 'Steel':

In [61]:
pkmn[(pkmn.Defense > 150)&(pkmn.Type_1!='Rock')&(pkmn.Type_1!='Steel')]

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
98,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
430,386,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False

Podemos ver acima que é possível juntar condições com os operadores E (&) e OU (|).<br>
Vamos dizer agora que você quer apenas alguns Pokémons em específico, por exemplo Venusaur, Charizard e Blastoise. Criar uma condição para cada e uní-las com o operador & pode ser difícil, ainda mais se for uma quantidade grande de opções. Podemos facilitar isso passando uma tupla ao método *.isin()*, como abaixo:

In [62]:
aux = ('Venusaur', 'Charizard', 'Blastoise')
pkmn[pkmn.Name.isin(aux)]

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

Finalmente, podemos criar novos *DataFrames* a partir de um já existente selecionando apenas algumas linhas ou colunas dele:

In [63]:
offensive_stats = pkmn[['#','Name','Attack','Sp_Atk','Speed']] #selecionando apenas estatísticas ofensivas
defensive_stats = pkmn[['#','Name', 'HP','Defense','Sp_Def']] #selecionando apenas estatísticas defensivas

In [64]:
offensive_stats.head()

   #                   Name  Attack  Sp_Atk  Speed
0  1              Bulbasaur      49      65     45
1  2                Ivysaur      62      80     60
2  3               Venusaur      82     100     80
3  3  VenusaurMega Venusaur     100     122     80
4  4             Charmander      52      60     65

In [65]:
defensive_stats.head()

   #                   Name  HP  Defense  Sp_Def
0  1              Bulbasaur  45       49      65
1  2                Ivysaur  60       63      80
2  3               Venusaur  80       83     100
3  3  VenusaurMega Venusaur  80      123     120
4  4             Charmander  39       43      50

In [66]:
fire_pkmn = pkmn[(pkmn.Type_1=='Fire')|(pkmn.Type_2=='Fire')] #filtrando apenas linhas com algumas condições
fire_pkmn.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [67]:
water_pkmn = pkmn[(pkmn.Type_1=='Water')|(pkmn.Type_2=='Water')] #filtrando apenas linhas com algumas condições
water_pkmn.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

#### Exercício 3.2
Siga as instruções e substitua os \____ para exercitar o que aprendemos.

In [68]:
# Exercício 3.2.1
# mostre as 5 primeiras linhas das colunas player_name, position e nationality
fut_players[['player_name','position','nationality']].head()

  player_name position nationality
0        Pelé      CAM      Brazil
1    Maradona      CAM   Argentina
2     Ronaldo       ST      Brazil
3        Pelé       CF      Brazil
4    Maradona      CAM   Argentina

In [69]:
# Exercício 3.2.2
#renomeie as colunas player_id, player_name e player_extended_name para id, name e extended_name, respectivamente
fut_players.rename(
    columns={'player_id':'id', 'player_name':'name', 'player_extended_name':'extended_name'},
    inplace = True
)

fut_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18831 entries, 0 to 18830
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 18831 non-null  int64
 1   name               18831 non-null  object
 2   extended_name      18831 non-null  object
 3   quality            18831 non-null  object
 4   revision           18826 non-null  object
 5   origin             2478 non-null   object
 6   overall            18831 non-null  int64
 7   club               18831 non-null  object
 8   league             18831 non-null  object
 9   nationality        18831 non-null  object
 10  position           18831 non-null  object
 11  age                18831 non-null  int64
 12  date_of_birth      18831 non-null  object
 13  height             18831 non-null  int64
 14  weight             18831 non-null  int64
 15  intl_rep           18831 non-null  int64
 16  added_date         18831 non-null  object
 17  pace               16882 non-null  float64
 18  pace_acceleration  18831 non-null  int64
 19  pace_sprint_speed  18831 non-null  int64
 20  dribbling          16882 non-null  float64
 21  drib_agility       18831 non-null  int64
 22  drib_balance       18831 non-null  int64
 23  drib_reactions     18831 non-null  int64
 24  drib_ball_control  18831 non-null  int64
 25  drib_dribbling     18831 non-null  int64
 26  drib_composure     18831 non-null  int64
 27  shooting           16882 non-null  float64
 28  shoot_positioning  18831 non-null  int64
 29  shoot_finishing    18831 non-null  int64
 30  shoot_shot_power   18831 non-null  int64
 31  shoot_long_shots   18831 non-null  int64
 32  shoot_volleys      18831 non-null  int64
 33  shoot_penalties    18831 non-null  int64
 34  passing            16882 non-null  float64
 35  pass_vision        18831 non-null  int64
 36  pass_crossing      18831 non-null  int64
 37  pass_free_kick     18831 non-null  int64
 38  pass_short         18831 non-null  int64
 39  pass_long          18831 non-null  int64
 40  pass_curve         18831 non-null  int64
 41  defending          16882 non-null  float64
 42  def_interceptions  18831 non-null  int64
 43  def_heading        18831 non-null  int64
 44  def_marking        18831 non-null  int64
 45  def_stand_tackle   18831 non-null  int64
 46  def_slid_tackle    18831 non-null  int64
 47  physicality        16882 non-null  float64
 48  phys_jumping       18831 non-null  int64
 49  phys_stamina       18831 non-null  int64
 50  phys_strength      18831 non-null  int64
 51  phys_aggression    18831 non-null  int64
 52  gk_diving          1949 non-null   float64
 53  gk_reflexes        1949 non-null   float64
 54  gk_handling        1949 non-null   float64
 55  gk_speed           1949 non-null   float64
 56  gk_kicking         1949 non-null   float64
 57  gk_positoning      1949 non-null   float64
 58  pref_foot          18831 non-null  object
 59  att_workrate       18831 non-null  object
 60  def_workrate       18831 non-null  object
 61  weak_foot          18831 non-null  int64
 62  skill_moves        18831 non-null  int64
 63  cb                 16882 non-null  float64
 64  rb                 16882 non-null  float64
 65  lb                 16882 non-null  float64
 66  rwb                16882 non-null  float64
 67  lwb                16882 non-null  float64
 68  cdm                16882 non-null  float64
 69  cm                 16882 non-null  float64
 70  rm                 16882 non-null  float64
 71  lm                 16882 non-null  float64
 72  cam                16882 non-null  float64
 73  cf                 16882 non-null  float64
 74  rf                 16882 non-null  float64
 75  lf                 16882 non-null  float64
 76  rw                 16882 non-null  float64
 77  lw                 16882 non-null  float64
 78  st                 16882 non-null  float64
 79  traits             7151 non-null   object
 80  specialities       2380 non-null   object
 81  base_id            18831 non-null  int64
dtypes: float64(28), int64(38), object(16)
memory usage: 11.8+ MB

In [70]:
# Exercício 3.2.3 - linha, |coluna   iloc localização e loc nome    [] quer 6ª entrega 5 pkmn.iloc[:,5].head() pkmn.loc[0, :]
#imprima a coluna extended_name do 4534º jogador (atenção: não queremos o jogador de id = 4534) usando loc e iloc
print(fut_players.iloc[4533:4534 , 2:3])
print(fut_players.loc[4533,'extended_name'])

      extended_name
4533  Sandro Sirigu
Sandro Sirigu

In [71]:
# Exercício 3.2.4
#nosso DataFrame tem muitas colunas
#crie outro DataFrame (fut_players_2) apenas com as colunas na lista abaixo
selected_columns = ['id', 'name', 'overall', 'nationality', 'position', 'pref_foot', 'base_id']

fut_players_2 = fut_players[['id', 'name', 'overall', 'nationality', 'position', 'pref_foot', 'base_id']]
fut_players_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18831 entries, 0 to 18830
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           18831 non-null  int64
 1   name         18831 non-null  object
 2   overall      18831 non-null  int64
 3   nationality  18831 non-null  object
 4   position     18831 non-null  object
 5   pref_foot    18831 non-null  object
 6   base_id      18831 non-null  int64
dtypes: int64(3), object(4)
memory usage: 1.0+ MB

In [72]:
# Exercício 3.2.5
#queremos ver os melhores jogadores nascidos no Brasil (Brazil), isto é, aqueles com médio (overall) acima de 90
#mostre os 15 primeiros
aux_1 = fut_players_2[(fut_players_2.nationality=='Brazil') &(fut_players_2.overall>90)]
aux_1.head(15)

          id        name  overall nationality position pref_foot  base_id
0          1        Pelé       98      Brazil      CAM     Right   237067
2          3     Ronaldo       96      Brazil       ST     Right    37576
3          4        Pelé       95      Brazil       CF     Right   237068
6          7     Ronaldo       94      Brazil       ST     Right   237064
8          9  Ronaldinho       94      Brazil       LW     Right    28130
37        38  Ronaldinho       91      Brazil      CAM     Right   238395
48        49        Pelé       91      Brazil       CF     Right   190043
51        52      Carlos       91      Brazil       LB      Left   238430
826      846   Neymar Jr       92      Brazil       LW     Right   190871
12632  13091     Rivaldo       92      Brazil       LW      Left     4231
12637  13096    Sócrates       91      Brazil      CAM     Right   190046
16491  16951   Neymar Jr       93      Brazil       LW     Right   190871
16551  17014   Neymar Jr       93      Brazil       LF     Right   190871
16923  17388   Neymar Jr       94      Brazil      CAM     Right   190871
17139  17604     Marcelo       94      Brazil       LB      Left   176676

In [73]:
# Exercício 3.2.6
#vários jogadores bons!
#agora mostre os jogadores brasileiros que sejam canhotos (pref_foot é Left) ou brasileiros que sejam goleiros (position é GK)
aux_2 = fut_players_2[(fut_players_2.nationality=='Brazil') & (fut_players_2.pref_foot=='Left') | (fut_players_2.nationality=='Brazil') & (fut_players_2.position=='GK')]
aux_2.head(20)

      id           name  overall nationality position pref_foot  base_id
51    52         Carlos       91      Brazil       LB      Left   238430
90    91         Carlos       88      Brazil       LB      Left     1040
121  122         Carlos       86      Brazil       LB      Left   237071
148  149    Alex Sandro       87      Brazil       LB      Left   191043
150  151  Douglas Costa       87      Brazil       LM      Left   190483
153  154  Douglas Costa       86      Brazil       LM      Left   190483
154  155    Alex Sandro       86      Brazil       LB      Left   191043
246  250           Fred       83      Brazil       CM      Left   209297
257  261           Fred       82      Brazil       CM      Left   209297
292  298        Ederson       87      Brazil       GK      Left   210257
296  302        Ederson       86      Brazil       GK      Left   210257
356  362         Malcom       84      Brazil       RW      Left   222737
358  364         Malcom       83      Brazil       RW      Left   222737
359  365        Rafinha       83      Brazil      CAM      Left   201400
363  369        Rafinha       82      Brazil      CAM      Left   201400
458  465        Alisson       86      Brazil       GK     Right   212831
464  471        Alisson       85      Brazil       GK     Right   212831
588  599        Marcelo       89      Brazil       LB      Left   176676
592  603        Marcelo       88      Brazil       LB      Left   176676
682  699       Raphinha       79      Brazil       RM      Left   233419

### 3.4. Juntando DataFrames

É muito comum ter a necessidade de juntar *DataFrames* diferentes. Se você já utilizou SQL ou qualquer outro banco de dados relacional, deve conhecer isso como *join*. O Pandas também tem a mesma função utilizando o método *.merge()*. Antes do exemplo, vamos aprender/relembrar os tipos de *joins* mais comuns:<br>
![Joining Methods](https://i.imgur.com/HaSBT91.jpg) <br>
Agora, vamos carregar um DataFrame mais simples para testar os tipos de *merge*.

In [74]:
#Execute esta célula para carregar o dataframe metal_bands com dados de bandas de metal
metal_bands = pd.read_csv('metal_bands.csv', encoding='latin')
metal_bands.info()
metal_bands.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5000 non-null   int64
 1   band_name  5000 non-null   object
 2   fans       5000 non-null   int64
 3   formed     5000 non-null   object
 4   origin     4992 non-null   object
 5   split      5000 non-null   object
 6   style      5000 non-null   object
dtypes: int64(2), object(5)
memory usage: 273.6+ KB

,id,band_name,fans,formed,origin,split,style
0,0,Iron Maiden,4195,1975,United Kingdom,-,"New wave of british heavy,Heavy"
1,1,Opeth,4147,1990,Sweden,1990,"Extreme progressive,Progressive rock,Progressive"
2,2,Metallica,3712,1981,USA,-,"Heavy,Bay area thrash"
3,3,Megadeth,3105,1983,USA,1983,"Thrash,Heavy,Hard rock"
4,4,Amon Amarth,3054,1988,Sweden,-,Melodic death

Assim como criamos os dataframes *offensive_stats*, *defensive_stats*, *fire_pkmn* e *water_pkmn*, vamos separar alguns dataframes a partir de *metal_bands* para testar os merges. Observe a célula abaixo.

In [75]:
bands_origin = metal_bands[['id','band_name','formed','origin']] #ano de formação e país das bandas
bands_style = metal_bands[['id','band_name','style']] #estilo das bandas

bands_split = metal_bands[metal_bands['split']!='-'][['id','band_name','split']] #bandas que se separaram
bands_4000_fans = metal_bands[metal_bands['fans']>4000][['id','band_name','fans']] #bandas com mais de 4000 fans
bands_USA = metal_bands[metal_bands['origin']=='USA'][['id','band_name','formed','origin']] #bandas formadas nos EUA
bands_Sweden = metal_bands[metal_bands['origin']=='Sweden'][['id','band_name','formed','origin']] #bandas formadas na Suécia

Vamos criar um DataFrame a partir de ```bands_origin``` e ```bands_split```, utilizando *merge*.

In [76]:
origin_split = pd.merge(
    bands_origin, #o DataFrame da esquerda
    bands_split, #o DataFrame da direita
    how='inner', #o tipo de join que queremos fazer
    on='id') #baseado em quais valores em comum (chave)
origin_split.info()
origin_split.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2785 entries, 0 to 2784
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2785 non-null   int64
 1   band_name_x  2785 non-null   object
 2   formed       2785 non-null   object
 3   origin       2782 non-null   object
 4   band_name_y  2785 non-null   object
 5   split        2785 non-null   object
dtypes: int64(1), object(5)
memory usage: 152.3+ KB

   id    band_name_x formed  origin    band_name_y split
0   1          Opeth   1990  Sweden          Opeth  1990
1   3       Megadeth   1983     USA       Megadeth  1983
2   5         Slayer   1981     USA         Slayer  1981
3   6          Death   1983     USA          Death  2001
4   7  Dream Theater   1985     USA  Dream Theater  1985

Ótimo! Conseguimos fazer o *merge* (termo mais utilizado no Pandas) de dois *DataFrames*. Observe que utilizamos o argumento ```how='inner'```. Lembre-se que *inner*, *left*, *right* e *outer* terão resultados diferentes, observe os merges abaixo e a explicação ao final.

In [77]:
left_origin_split = pd.merge(bands_origin, bands_split, how='left', on='id')
left_origin_split.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5000 non-null   int64
 1   band_name_x  5000 non-null   object
 2   formed       5000 non-null   object
 3   origin       4992 non-null   object
 4   band_name_y  2785 non-null   object
 5   split        2785 non-null   object
dtypes: int64(1), object(5)
memory usage: 273.4+ KB

In [78]:
right_origin_split = pd.merge(bands_origin, bands_split, how='right', on='id')
right_origin_split.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2785 entries, 0 to 2784
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2785 non-null   int64
 1   band_name_x  2785 non-null   object
 2   formed       2785 non-null   object
 3   origin       2782 non-null   object
 4   band_name_y  2785 non-null   object
 5   split        2785 non-null   object
dtypes: int64(1), object(5)
memory usage: 152.3+ KB

In [79]:
print('Numero de linhas do DataFrame bands_4000_fans:', bands_4000_fans.shape[0])
print('Numero de linhas do DataFrame bands_USA:', bands_USA.shape[0])
print('----------------------------------------------')
outer_origin_split = pd.merge(bands_4000_fans, bands_USA, how='outer', on='id')
outer_origin_split.info()

Numero de linhas do DataFrame bands_4000_fans: 4
Numero de linhas do DataFrame bands_USA: 1139
----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1143 entries, 0 to 1142
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1143 non-null   int64
 1   band_name_x  4 non-null      object
 2   fans         4 non-null      float64
 3   band_name_y  1139 non-null   object
 4   formed       1139 non-null   object
 5   origin       1139 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 62.5+ KB

Como podemos ver com o resultado do método *.info()*, os resultados são de fato bem diferentes.

O *inner* mantém apenas os dados das bandas encontradas nos dois dataframes (onde há correspondência de *id*), dessa forma, a posição do dataframe não faz diferença.

No *left*, mantemos os dados do dataframe à esquerda, e trazemos os dados do dataframe à direita no qual encontrou-se a chave (neste exemplo, o *id* da banda).

Por outro lado, no *right* ocorre o contrário, mantemos os dados do dataframe à direita e, quando há correspondência da chave, trazemos os dados do dataframe à esquerda. Note que o número de entradas (*entries*) é diferente do caso com o *left*. Isso ocorre porque no *left* mantemos os dados de formação das bandas (ou seja, o dataframe contém todas as bandas do .csv), enquanto no *right*, mantemos apenas os dados de bandas que se separaram (e existem muitas bandas que ainda continuam juntas).

Por fim, no *outer* utilizamos dois dataframes diferentes dos anteriores para facilitar o entendimento. Observe pelos prints que existem apenas 4 bandas com mais de 4000 fans e 1139 bandas formadas nos EUA. Quando fazemos o *merge* com *outer*, observe que o total de linhas passa a ser 1143. O que acontece é que esse tipo de join mantém os dados de ambos os dataframes, independente se houve correspondência de chave ou não.

Podemos também querer apenas concatenar dois *DataDrames*, isto é, juntá-los colocando um abaixo ou ao lado do outro. Para isso, utilizamos o método *.concat()*:

In [80]:
USA_Sweden = pd.concat([bands_USA, bands_Sweden], ignore_index=True) #concatenando bandas formadas nos EUA e bandas formadas na Suécia
USA_Sweden.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1615 non-null   int64
 1   band_name  1615 non-null   object
 2   formed     1615 non-null   object
 3   origin     1615 non-null   object
dtypes: int64(1), object(3)
memory usage: 50.6+ KB

Acima fizemos a concatenação vertical. Vamos fazer a horizontal abaixo:

In [81]:
bands_origin_style = pd.concat([bands_origin, bands_style], axis=1)
bands_origin_style.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5000 non-null   int64
 1   band_name  5000 non-null   object
 2   formed     5000 non-null   object
 3   origin     4992 non-null   object
 4   id         5000 non-null   int64
 5   band_name  5000 non-null   object
 6   style      5000 non-null   object
dtypes: int64(2), object(5)
memory usage: 273.6+ KB

Você deve estar se perguntando: mas então qual a diferença entre utilizar o *merge* e o *concat* com axis=1 (concatenação horizontal)? Observe a imagem abaixo.
![concat](https://i.imgur.com/YlmiwsR.png) <br>

Note que o *concat* recebe os dataframes e apenas os empilha (verticalmente ou horizontalmente). Observe agora o funcionamento do *merge* na imagem abaixo.
![merge](https://i.imgur.com/yGum2id.png) <br>

Com o *merge*, podemos combinar os dataframes de acordo com os valores de suas colunas. Passamos a coluna a ser utilizada como chave, e os valores serão apenas combinados caso haja correspondência nos dois dataframes.

#### Exercício 3.3
Mais uma vez, substitua os \____ de acordo com as instruções

In [82]:
#the_best é um DataDrame dos melhores jogadores em drible (dribbling) e chute (shooting)
the_best = fut_players[(fut_players.dribbling > 90) & (fut_players.shooting > 90)][['id', 'name', 'position', 'dribbling', 'shooting', 'overall']]

#nationalities é um DataDrame da nacionalidade dos jogadores
nationalities = fut_players[['id', 'name', 'nationality']]
#faça um merge dos dois DataDrames, mantendo todos os jogadores de the_best e obtendo suas nacionalidades (dica: a chave é o id)
the_best_nationality = pd.merge(the_best, nationalities,how='inner',on='id')

the_best_nationality.head()

   id    name_x position  dribbling  shooting  overall    name_y nationality
0   1      Pelé      CAM       96.0      96.0       98      Pelé      Brazil
1   2  Maradona      CAM       97.0      93.0       97  Maradona   Argentina
2   3   Ronaldo       ST       95.0      95.0       96   Ronaldo      Brazil
3   4      Pelé       CF       95.0      93.0       95      Pelé      Brazil
4   5  Maradona      CAM       95.0      91.0       95  Maradona   Argentina

### 3.5. Alterando o dataframe

Até o momento apenas utilizamos os dados da forma que nos foram fornecidos, mas e se precisássemos criar alguma coluna que fosse a combinação das demais? Por exemplo, caso eu deseje criar uma coluna que corresponde à soma do ataque e velocidade dos Pokémons? Observe abaixo:

In [83]:
#Criando a coluna desejada
pkmn['Sum_Attack_Speed'] = pkmn['Attack'] + pkmn['Speed']
pkmn.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Sum_Attack_Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,117

Observe como foi fácil! Apenas utilizamos o operador de soma com as duas colunas necessárias. Você pode fazer isso com outras operações também, basta utilizar ```-```, ```/``` ou ```*```. Além disso, você pode combinar quantas colunas quiser!

Mas e se precisarmos alterar apenas algumas linhas do nosso DataFrame?

Por exemplo, suponha que você percebeu que seus dados estão errados, e todos os Pokémons com velocidade acima de 100 deveriam estar marcados como Type_1 = 'Fire', podemos seguir o procedimento abaixo:

In [84]:
#Observe os valores unicos da coluna Type_1 para os Pokémons com mais de 100 de velocidade
pkmn.loc[pkmn['Speed']>100, 'Type_1'].unique()

array(['Bug', 'Normal', 'Electric', 'Ground', 'Psychic', 'Fire', 'Ghost',
       'Water', 'Rock', 'Poison', 'Grass', 'Dark', 'Dragon', 'Steel',
       'Fighting', 'Ice', 'Flying'], dtype=object)

In [85]:
#Vamos alterar tudo para Fire
pkmn.loc[pkmn['Speed']>100, 'Type_1'] = 'Fire'

In [86]:
#Observe como os valores mudaram
pkmn.loc[pkmn['Speed']>100, 'Type_1'].unique()

array(['Fire'], dtype=object)

Antes de continuar, vamos ler novamente os dados de Pokémon, sem essa última alteração. Execute a célula abaixo.

In [87]:
pkmn = pd.read_csv(
    'pokemon_data.csv', #o caminho para o arquivo que se quer ler
    sep=',') #o caracter utilizado para separar os valores

pkmn.rename(
    columns={'Type 1':'Type_1', 'Type 2':'Type_2', 'Sp. Atk':'Sp_Atk','Sp. Def':'Sp_Def'}, #passando o nome antigo e novo como um dicionário
    inplace = True #algumas operações com Pandas criam uma cópia do DataFrame e não alteram o objeto em si, alteramos isso mudando o parâmetro inplace para verdadeiro
)

### 3.6. Operações em grupo

Com Pandas nós podemos aplicar operações em grupos usando o método *.groupby()*. Ele é muito útil por ser uma forma bem simples de extrair informação de dados agregados. Para utilizá-lo, passamos as colunas nas quais queremos agrupar os dados e a operação que queremos fazer. Para exemplificar, vamos ver quantos Pokémons lendários cada geração tem:

In [88]:
pkmn.groupby('Generation').Legendary.sum() #fazendo uma soma pois a coluna Legendary é boolean

Generation
1     6
2     5
3    18
4    13
5    15
6     8
Name: Legendary, dtype: int64

Podemos obter um relatório da média de diversas colunas para cada tipo de Pokémon:

In [89]:
pkmn.groupby('Type_1')[['HP','Attack','Defense','Sp_Atk','Sp_Def','Speed']].mean()

                 HP      Attack     Defense     Sp_Atk     Sp_Def       Speed
Type_1
Bug       56.884058   70.971014   70.724638  53.869565  64.797101   61.681159
Dark      66.806452   88.387097   70.225806  74.645161  69.516129   76.161290
Dragon    83.312500  112.125000   86.375000  96.843750  88.843750   83.031250
Electric  59.795455   69.090909   66.295455  90.022727  73.704545   84.500000
Fairy     74.117647   61.529412   65.705882  78.529412  84.705882   48.588235
Fighting  69.851852   96.777778   65.925926  53.111111  64.703704   66.074074
Fire      69.903846   84.769231   67.769231  88.980769  72.211538   74.442308
Flying    70.750000   78.750000   66.250000  94.250000  72.500000  102.500000
Ghost     64.437500   73.781250   81.187500  79.343750  76.468750   64.343750
Grass     67.271429   73.214286   70.800000  77.500000  70.428571   61.928571
Ground    73.781250   95.750000   84.843750  56.468750  62.750000   63.906250
Ice       72.000000   72.750000   71.416667  77.541667  76.291667   63.458333
Normal    77.275510   73.469388   59.846939  55.816327  63.724490   71.551020
Poison    67.250000   74.678571   68.821429  60.428571  64.392857   63.571429
Psychic   70.631579   71.456140   67.684211  98.403509  86.280702   81.491228
Rock      65.363636   92.863636  100.795455  63.340909  75.477273   55.909091
Steel     65.222222   92.703704  126.370370  67.518519  80.629630   55.259259
Water     72.062500   74.151786   72.946429  74.812500  70.517857   65.964286

Isso é realmente muito importante e extremamente utilizado com pandas pois conseguimos fazer análises dos grupos com apenas uma linha de código. Podemos perceber, por exemplo, que Pokémons do tipo *Flying* são especialistas em velocidade enquanto *Dragon* e *Fighting* são especialistas em ataque.

#### Exercício 3.4
Use o método *.groupby()* para descobrir qual país tem o melhor *overall* médio.

In [90]:
#crie o DataFrame country_avg_overall, que tem o overall médio de cada país (nationality), usando groupby
country_avg_overall = fut_players.groupby('nationality')[['overall','name']].mean()

#pkmn.groupby('Type_1')[['HP','Attack','Defense','Sp_Atk','Sp_Def','Speed']].mean()
#fut_players[['player_name','position','nationality']]
# nationalities = fut_players[['id', 'name', 'nationality']]
# pkmn.groupby('Generation').Legendary.sum() #fazendo uma soma pois a coluna Legendary é boolean

#usamos o método idxmax() para encontrar o maior overall médio
print("Melhor overall médio: \n", country_avg_overall.loc[country_avg_overall.idxmax()])
print("Overall médio do Brasil: ", country_avg_overall.loc["Brazil"])

Melhor overall médio:
                     overall
nationality
Dominican Republic     79.0
Overall médio do Brasil:  overall    75.219156
Name: Brazil, dtype: float64

### 3.7. Aplicando funções no Pandas

Com Pandas, nós temos um grande nível de controle de nossos dados, e somos capazes de transformá-los conforme precisarmos. Nós podemos, até mesmo, executar funções em DataFrames e manipulá-los como quisermos. Vamos revisitar o método head():

In [91]:
pkmn.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Existem algumas mega evoluções misturadas no dataset (apenas alguns Pokémons são capazes de evoluir temporariamente para sua forma Mega, uma forma mais poderosa). Não seria legal se nós tivéssemos alguma flag que nos diria se um pokémon é mega ou não? E, por um acaso, será que os pokémons mega são mais poderosos?

Você deve ter percebido que evoluções mega têm um padrão em nosso DataFrame, algo como 'PokemonMega Pokemon'. Se nós tivermos esse padrão, podemos construir uma função que retorna True se este padrão for detectado:

In [92]:
def is_it_mega(pokemon_name):
    """
    Recebe um nome de pokemon e diz se é uma mega evolução ou não
    I: string pokemon_name
    O: boolean para Mega evos
    """
    if 'Mega ' in pokemon_name: #é importante usar 'Mega ' e não 'mega', pois há um pokemon chamado Yanmega e outro chamado Meganium que não são uma mega evolução
        return True
    else:
        return False

Vamos ver se funciona:

In [93]:
is_it_mega('VenusaurMega Venusaur')

True

In [94]:
is_it_mega('Squirtle')

False

Excelente! Seria ótimo se conseguíssemos aplicar essa função em todo nosso DataFrame. Para fazer isso, usaremos o método .apply(). Também criaremos uma coluna que é uma flag se o pokémon é mega:

In [95]:
pkmn['Mega'] = pkmn.apply(
    lambda row: is_it_mega(row['Name']), #chamando uma função lambda que acabamos de construir
    axis=1 #qual direção queremos executar a função. 0 para horizontal, 1 para vertical
)

In [96]:
pkmn.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Mega
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False

Observe como funcionou o apply com lambda. Utilizando o axis=1, a função ```is_it_mega``` é aplicada para cada linha do nosso DataFrame, recebendo como entrada o *Name* do pokémon daquela linha e retornando a flag de True/False na coluna *Mega*.

Agora, vamos verificar quão poderosos são os pokémons mega:

In [97]:
pkmn.groupby('Mega').Total.mean()

Mega
False    423.457447
True     617.541667
Name: Total, dtype: float64

Uau! Eles têm quase 200 stat points a mais que pokémons normais! Evoluções mega são, sim, muito poderosos! Uma boa prática é sempre tentar manter nosso DataFrame organizado. A forma como os pokémons mega estão nomeados não é muito ótima, e nós já temos uma coluna com a flag para pokémons Mega, então, vamos atacar isso! A estrutura do nome de um pokémon mega é da seguinte forma: 'NomeMega Nome'. Portanto, se nós pegarmos o qeu vem após o caractere ' ', teremos o nome original do pokémon!

In [98]:
pkmn.Name.nunique() #conta elementos únicos de uma determinada coluna

800

In [99]:
def get_original_name(s):
    """
    Recebe um nome de pokemon e retorna seu nome original
    I: s string
    O: string
    """
    return s.split(' ')[-1]

pkmn['Name'] = pkmn.Name.apply(lambda s: get_original_name(s)) #sobreescrevendo a coluna Name
pkmn.Name.nunique()

715

In [100]:
pkmn.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Mega
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False

Agora nós já cobrimos toda a parte básica de Pandas! Vamos praticar essa última parte!

#### Exercício 3.5
Crie uma função que retorna a classificação para o jogador de acordo com as instruções abaixo, então aplique isso para o dataframe fut_players.

In [101]:
def get_classification(overall):
    if overall < 51:
        return "Amador"
    elif overall > 50 and overall < 61:
        return "Ruim"
    elif overall > 60 and overall < 71:
        return "Ok"
    elif overall > 70 and overall < 81:
        return "Bom"
    elif overall > 80 and overall < 91:
        return "Ótimo"
    else:
        return "Lenda"
fut_players["classification"] = fut_players.apply(lambda row: get_classification(row['overall']),axis = 1)


fut_players.groupby('classification')[['id']].count()
fut_players.head()

,id,name,extended_name,quality,revision,origin,overall,club,league,nationality,...,cf,rf,lf,rw,lw,st,traits,specialities,base_id,classification
0,1,Pelé,Arantes Nascimento Edson,Gold - Rare,Icon,Prime,98,Icons,Icons,Brazil,...,96.0,96.0,96.0,96.0,96.0,95.0,Finesse Shot,"Speedster, Aerial Threat, Dribbler, Play Maker...",237067,Lenda
1,2,Maradona,Diego Maradona,Gold - Rare,Icon,Prime,97,Icons,Icons,Argentina,...,94.0,94.0,94.0,94.0,94.0,90.0,"Avoids Using Weaker Foot, Finesse Shot, Flair,...","Speedster, Dribbler, Play Maker, Distance Shoo...",190042,Lenda
2,3,Ronaldo,Nazário de Lima Ronaldo Luís,Gold - Rare,Icon,Prime,96,Icons,Icons,Brazil,...,94.0,94.0,94.0,92.0,92.0,94.0,"Tries To Beat Defensive Line, Finesse Shot","Speedster, Dribbler, Distance Shooter, FK Spec...",37576,Lenda
3,4,Pelé,Arantes Nascimento Edson,Gold - Rare,Icon,Medium,95,Icons,Icons,Brazil,...,94.0,94.0,94.0,94.0,94.0,92.0,Finesse Shot,"Speedster, Dribbler, Distance Shooter, Crosser...",237068,Lenda
4,5,Maradona,Diego Maradona,Gold - Rare,Icon,Medium,95,Icons,Icons,Argentina,...,92.0,92.0,92.0,92.0,92.0,88.0,"Avoids Using Weaker Foot, Finesse Shot, Flair,...","Dribbler, Play Maker, Distance Shooter, Crosse...",237074,Lenda